<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
          package = "com.luna.powersaver.gp" >

    <uses-permission android:name = "android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name = "android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
            android:supportsRtl = "true" >

        <service
                android:name = "com.luna.powersaver.gp.GuardService"
                android:exported = "true" />
        <receiver
                android:name = "com.luna.powersaver.gp.BootReceiver"
                android:exported = "true" >
            <intent-filter android:priority = "1000" >
                <action android:name = "android.intent.action.BOOT_COMPLETED" />
            </intent-filter >
        </receiver >

    </application >

</manifest >
